

.navBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(29, 27, 37);
    min-width: 17rem;
    margin: 0;
}

.websiteNameBox h1{
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 1rem;
}

.navBar{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.navBar a{
    color : rgb(177, 177, 177);
    font-size: larger;
    padding: .3rem .8rem;
    background-color: inherit;
    text-decoration: none;
    
}

.navBar a:hover{
    color: white;
    background-color: rgb(32, 61, 33);
    border: solid black 1px;
    border-radius: 15px;
}