

.navBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rebeccapurple;
}

.navBar a{
    color : red;
    font-size: x-large;
    padding: 1rem 0;
    background-color: inherit;
}

.navBar a:hover{
    color: white;
    background-color: gold;
}