

.navBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rebeccapurple;
    margin: .5rem 1rem;
    border-radius: 15px;
}

.navBar a{
    color : red;
    font-size: x-large;
    padding: 1rem 0;
    background-color: inherit;
    margin-top: 1rem;
}

.navBar a:hover{
    color: white;
    background-color: gold;
}